{% extends 'site_wide.html' %}
{% block body %}
<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="about">About</a>
</div>
    <div align="center">

        <br>
        <img name="logo" src="/static/logo.jpg" style=height:300px; width:450px; vertical-align: middle;>
        <br>

        <br>
        <h5> <u> About Fuel Predict </u> </h5>
        <p>
            Fuel Predict provides accurate predictions on fuel prices at service stations across NSW based off current trends. <br>
            By using historic fuel price history, multiple models and your provided postcode, we can determine the cheapest and <br>
            nearest service station to you. Your car tank already full? Fuel Predict allows you to specify the date you want to <br>
            refuel your car and will provide you with the best estimate for you to determine the best time to refuel your vehicle. <br>
        </p>

        <br>
        <h5> <u> How To Use Fuel Predict </u> </h5>
        <p> 1. Choose your preferred fuel type from the drop down menu on the home page. <br>
            2. Enter your post code to find service stations closest to your current location. <br>
            3. Submit a predication date that you should like to view the fuel price prediction for.
        </p>

        <br>
        <h5> <u> Fuel Types </u> </h5>
        <table align="center">
            <tr>
                <td>Ethanol 94 (E10)</td>
                <td>An ethanol-based fuel, in that it’s 10% ethanol and 90% unleaded petrol. It has a higher octane rating of 94, so it’s more <br>
                    powerful than standard unleaded petrol, but the presence of the ethanol does mean it can be slightly less fuel efficient.</td>
            </tr>
            <tr>
                <td>Premium 98</td>
                <td>The highest octane unleaded fuel, providing higher engine power and performance as well as less pollution. </td>
            </tr>
            <tr>
                <td>Premium 95</td>
                <td>A type of unleaded fuel designed to be more fuel efficient and cause a smoother engine operation, improving performance. </td>
            </tr>
            <tr>
                <td>Unleaded 91</td>
                <td>The most common type of fuel in Australia, and can be found at pretty much every petrol station.</td>
            </tr>
            <tr>
                <td>Diesel</td>
                <td>A fuel that is used in diesel engines and is also known as distillate.</td>
            </tr>
        </table>

        <style type="text/css">
            th {
                padding:10px 10px 10px 10px;
            }
            td {
                padding:10px 10px 10px 10px;
            }
        </style>


{% endblock %}
