{% extends 'site_wide.html' %}
{% block body %}
<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="about">About</a>
    <a href="#contact">Contact</a>
</div>
    <div align="center">

        <img name="logo" src="/static/logo.jpg" style=height:450px; width:450px; vertical-align: middle;>

        <br>
        
        <p>
            Fuel Predict provides accurate predictions on fuel prices at service stations across NSW based off current trends.
            <br>
            Fuel Predict determines your nearest service station based upon your provided postcode.
            <br>
            Fuel Predict allows you to specify the date you want to refuel your car.
        </p>

{% endblock %}
