
{% extends 'site_wide.html' %}
{% block body %}

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="about">About</a>
</div>

<div align="center">

    <br>
    <img name="logo" src="/static/logo.jpg" style=height:300px; width:450px; vertical-align: middle;>
    <br>
    <br>

    <form method="POST" class="justify-content-center">
        {{ form.csrf_token}}
        <div class="form-group row">
            <label for="fuel_type" class="col-sm-2 col-form-label">Fuel Type</label>
            <div class="col-sm-10">
                {{ form.fuel_type(class_='form-control') }}
            </div>
        </div>
        <div class="form-group row">
            <label for="postcode" class="col-sm-2 col-form-label">Postcode</label>
            <div class="col-sm-10">
                {{ form.postcode(class_='form-control') }}
            </div>
        </div>
        <div class="form-group row">
            <label for="prediction_date" class="col-sm-2 col-form-label">Prediction Date</label>
            <div class="col-sm-10">
                {{ form.prediction_date(class_='form-control') }}
            </div>
        </div>
        <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li style="color: red;">{{ form[field_name].label }}: {{error}} </li>
            {% endfor %}
        {% endfor %}
        </ul>
        <input type="submit" class="btn btn-primary" label="Submit">
    </form>

    <form method="POST" id='services'>
        <h5>Brands</h5>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="7/11" checked > 7-Eleven</label>
          <img name="7/11" src="/static/services/711.jpg" style=height:50px; width:50px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="BP" checked > BP</label>
          <img name="BP" src="/static/services/BP.png" style=height:50px; width:50px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Budget" checked > Budget</label>
          <img name="Budget" src="/static/services/Budget.png" style=height:50px; width:50px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Caltex" checked > Caltex</label>
          <img name="Caltex" src="/static/services/Caltex.png" style=height:50px; width:50px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Woolworths" checked > Caltex Woolworths</label>
          <img name="Woolworths" src="/static/services/Woolworths.png" style=width:75px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Coles" checked > Coles</label>
          <img name="Coles" src="/static/services/Coles.png" style=height:50px; width:50px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Enhance" checked > Enhance</label>
          <img name="Enhance" src="/static/services/Enhance.jpg" style=height:50px; width:50px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Independant" checked > Independant</label>
          <img name="Independant" src="/static/services/Independant.jpg" style=height:50px; width:50px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Inland" checked > Inland</label>
          <img name="Inland" src="/static/services/Inland.jpg" style=height:50px; width:50px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Liberty" checked > Liberty</label>
          <img name="Liberty" src="/static/services/Liberty.jpg" style=width:100px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Lowes" checked > Lowes</label>
          <img name="Lowes" src="/static/services/Lowes.png" style=width:100px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Matilda" checked > Matilda</label>
          <img name="Matilda" src="/static/services/Matilda.png" style=height:50px; width:50px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Metro" checked > Metro</label>
          <img name="Metro" src="/static/services/Metro.png" style=height:50px; width:50px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Mobil" checked > Mobil</label>
          <img name="Mobil" src="/static/services/Mobil.png" style=height:50px; width:50px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="NRMA" checked > NRMA</label>
          <img name="NRMA" src="/static/services/NRMA.png" style=height:75px; width:75px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Prime" checked > Prime</label>
          <img name="Prime" src="/static/services/Prime.png" style=height:50px; width:50px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Puma" checked > Puma</label>
          <img name="Puma" src="/static/services/Puma.png" style=height:50px; width:50px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Shell" checked > Shell</label>
          <img name="Shell" src="/static/services/Shell.png" style=height:50px; width:50px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Southwest" checked > Southwest</label>
          <img name="Southwest" src="/static/services/Southwest.png" style=height:50px; width:50px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="Speedway" checked > Speedway</label>
          <img name="Speedway" src="/static/services/Speedway.png" style=width:100px; vertical-align: middle;>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="United" checked > United</label>
          <img name="United" src="/static/services/United.jpg" style=width:100px; vertical-align: middle;>
        </div>
    </form>

</div>



{% endblock %}
